################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pr-01/pr-01-01/pr-01-01-01/obj
/pr-01/pr-01-01/pr-01-01-02/obj
/pr-01/pr-01-02/pr-01-02-01/obj
/pr-01/pr-01-02/pr-01-02-02/obj
/pr-01/pr-01-02/pr-01-02-03/ViewFile/obj
/pr-01/pr-01-03/pr-01-03-01/obj
/pr-01/pr-01-03/pr-01-03-02/.idea/.idea.pr-01-03-02
/pr-01/pr-01-03/pr-01-03-02/.vs/pr-01-03-02/v16
/pr-01/pr-01-03/pr-01-03-02/bin/Debug
/pr-01/pr-01-03/pr-01-03-02/obj
/pr-01/pr-01-04/pr-01-04-01/obj
/pr-01/pr-01-04/pr-01-04-02/obj
/pr-02/pr-02-01/pr-02-01-01/obj
/pr-02/pr-02-01/pr-02-01-02/obj
/pr-02/pr-02-02/pr-02-02-01/obj
/pr-02/pr-02-02/pr-02-02-02/obj
/pr-02/pr-02-03/pr-02-03-01/obj
/pr-02/pr-02-03/pr-02-03-02/obj
/pr-02/pr-02-04/pr-02-04-01/obj
/pr-02/pr-02-04/pr-02-04-02/obj
/pr-03/pr-03-01/pr-03-01-01/obj
/pr-03/pr-03-01/pr-03-01-02/obj
/pr-03/pr-03-02/obj
/pr-04/pr-04-01/obj
/pr-04/pr-04-02/pr-04-02-01/obj
/pr-04/pr-04-02/pr-04-02-02/obj
/pr-04/pr-04-03/obj
/pr-04/pr-04-04/obj
/pr-04/pr-04-05/obj
/pr-05/pr-05-01/.idea/.idea.pr-05-01
/pr-05/pr-05-01/bin/Debug/netcoreapp3.1
/pr-05/pr-05-01/obj/Debug/netcoreapp3.1
/pr-05/pr-05-01/obj/Release/netcoreapp3.1
/pr-05/pr-05-01/obj
/pr-05/pr-05-02/obj
/pr-06/v1/obj
/pr-06/v3/obj
/pr-07/Lesson1-Exercise1-PieChart-CS/.idea/.idea.PieChart
/pr-07/Lesson1-Exercise1-PieChart-CS/PieChart/bin/Debug
/pr-07/Lesson1-Exercise1-PieChart-CS/PieChart/obj
/pr-08/pr-08-01/obj
/pr-08/pr-08-02/obj
/pr-08/pr-08-03/obj
/pr-09/pr-09-01/.vs/pr-09-01/v16
/pr-09/pr-09-01/bin/Debug/netcoreapp3.1
/pr-09/pr-09-01/obj
/pr-09/pr-09-01/.vs/pr-09-01/DesignTimeBuild
/pr-09/pr-09-02/.vs/pr-09-02/v16
/pr-09/pr-09-02/bin/Debug
/pr-09/pr-09-02/obj/Debug
/pr-10/pr-10-01/.vs/pr-10-01/v16
/pr-10/pr-10-01/bin/Debug
/pr-10/pr-10-01/obj/Debug
/pr-10/pr-10-02/.vs/pr-10-02/v16
/pr-10/pr-10-02/bin/Debug
/pr-10/pr-10-02/obj/Debug
/pr-11/pr-11-01/.vs/pr-11-01/v16
/pr-11/pr-11-01/bin/Debug/Workers.ldb
/pr-11/pr-11-01/bin/Debug/pr-11-01.pdb
/pr-11/pr-11-01/bin/Debug/pr-11-01.exe.config
/pr-11/pr-11-01/bin/Debug/pr-11-01.exe
/pr-11/pr-11-01/obj/Debug
/pr-11/pr-11-02/.vs/pr-11-02/v16
/pr-11/pr-11-02/bin/Debug
/pr-11/pr-11-02/obj/Debug
/pr-12/pr-12-01/MathTaskClassLibrary/.vs/MathTaskClassLibrary/v16
/pr-12/pr-12-01/MathTaskClassLibrary/bin/Debug/netcoreapp3.1
/pr-12/pr-12-01/MathTaskClassLibrary/obj
/pr-12/pr-12-01/MathTaskClassLibraryTests/bin/Debug/netcoreapp3.1
/pr-12/pr-12-01/MathTaskClassLibraryTests/obj
/pr-12/pr-12-01/MathTaskClassLibrary/.vs/MathTaskClassLibrary/DesignTimeBuild
/pr-12/pr-12-02/.vs/pr-12-02/v16
/pr-12/pr-12-02/bin/Debug
/pr-12/pr-12-02/obj/Debug
